<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>export TM_YEAR=`date +%Y`
export TM_DATE=`date +%Y-%m-%d`
TM_HEADER=$(ruby &lt;&lt;"EOF"
	puts ENV['TM_NEW_FILE'].gsub(/java$/,'tml').gsub('java', 'resources')
EOF)
export PACKAGE=$(ruby &lt;&lt;"EOF"
	puts ENV['TM_NEW_FILE_DIRECTORY'].gsub(/^.*java\//,'').gsub('/','.')
EOF)

if [[ ! (-f $TM_NEW_FILE || -f $TM_HEADER) ]]; then
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' &lt;template_in.java &gt;"$TM_NEW_FILE"
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' &lt;template_in.tml &gt;"$TM_HEADER"
fi</string>
	<key>extension</key>
	<string>java</string>
	<key>files</key>
	<string>ruby -e "puts ENV['TM_NEW_FILE']; print ENV['TM_NEW_FILE'].gsub(/java$/,'tml').gsub('java', 'resources')"</string>
	<key>name</key>
	<string>Component</string>
	<key>uuid</key>
	<string>E8C1677D-B4A0-48A3-AC14-3B3EF881E784</string>
</dict>
</plist>
